{% extends "base1.html.twig" %}

{% block content %}
    <div class="container">
        
        <h2><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Nuevo Contrato</h2>
        <ul class="nav nav-pills">
            <li class="menu1 active"><a data-toggle="tab" href="#menu1"><h3>Información Basica</h3></a></li>
            <li class="menu2" ><a data-toggle="tab" href="#menu2"><h3>Entidad</h3></a></li>
            <li class="menu3" ><a data-toggle="tab" href="#menu3"><h3>Interventor</h3></a></li>
            <li class="menu4" ><a data-toggle="tab" href="#menu4"><h3>Supervisor</h3></a></li>
            <li class="menu5" ><a data-toggle="tab" href="#menu5"><h3>Detalles</h3></a></li>
            <li class="menu6" ><a data-toggle="tab" href="#menu6"><h3>notificaciones</h3></a></li>
        </ul>
        {# {{ form_start(form) }} #}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade  in active">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Información basica del contrato</h4>
                    </div>
                    <div class="panel panel-body" >
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_label(form.conInformacion) }}
                                {{ form_widget(form.conInformacion) }}
                            </div>    
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_label(form.justificacion) }}
                                {{ form_widget(form.justificacion) }}
                                {{ form_errors(form.justificacion) }}
                            </div>
                        </div>    
                        <div class="form-group">
                            <div class="col-md-3" >
                              {{ form_label(form.claseContrato) }}
                              {{ form_widget(form.claseContrato) }}
                            </div> 
                            <div class="col-md-3" >
                              {{ form_label(form.numConvenio) }}
                              {{ form_widget(form.numConvenio) }}
                            </div> 
                            <div class="col-md-3" >
                              {{ form_label(form.fechaSuscripcion) }}
                              {{ form_widget(form.fechaSuscripcion) }}
                            </div> 
                            <div class="col-md-3" >
                              {{ form_label(form.vecesRegistrado) }}
                              {{ form_widget(form.vecesRegistrado) }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_label(form.objetoContrato) }}
                                {{ form_widget(form.objetoContrato) }}
                            </div>    
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_label(form.vlrContrato) }}
                                {{ form_widget(form.vlrContrato) }}
                            </div>    
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <a data-toggle="tab" href="#menu2" style="margin: 15px;" class="next btn btn-info pull-right">{{ 'labels.dataTable.paginate.next'|trans([], 'AppBundle') }}</a>
                            </div>    
                        </div>
                    </div>
                </div>        
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Entidad pública que interviene en el convenio o contrato</h4>
                    </div>
                    <div class="panel panel-body" >
                        <div class="form-group">
                            <div class="col-md-6" >
                              {{ form_label(form.idEntidad) }}
                              {{ form_widget(form.idEntidad) }}
                            </div> 
                            <div class="col-md-6" >
                              {{ form_label(form.dvEntidad) }}
                              {{ form_widget(form.dvEntidad) }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_label(form.nombreEntidad) }}
                                {{ form_widget(form.nombreEntidad) }}
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" >
                              {{ form_label(form.plazo) }}
                              {{ form_widget(form.plazo) }}
                            </div> 
                            <div class="col-md-6" >
                              {{ form_label(form.tipoGarantia) }}
                              {{ form_widget(form.tipoGarantia) }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" >
                              {{ form_label(form.riesgosAsegurados) }}
                              {{ form_widget(form.riesgosAsegurados) }}
                            </div> 
                            <div class="col-md-6" >
                              {{ form_label(form.tipoSeguimiento) }}
                              {{ form_widget(form.tipoSeguimiento) }}
                            </div> 
                        </div> 
                        <div class="form-group">
                            <div class="col-md-12">
                                <a data-toggle="tab" href="#menu1" style="margin: 15px;" class="next btn btn-info pull-left">{{ 'labels.dataTable.paginate.previous'|trans([], 'AppBundle') }}</a>
                            
                                <a data-toggle="tab" href="#menu3" style="margin: 15px;" class="next btn btn-info pull-right">{{ 'labels.dataTable.paginate.next'|trans([], 'AppBundle') }}</a>
                            </div> 
                        </div>    
                    </div>
                </div>            
            </div>            
            <div id="menu3" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Interventor y Supervisor del convenio o contrato</h4>
                    </div>
                    <div class="panel panel-body" >
                        <div class="form-group">
                            <div class="col-md-12" >
                              {{ form_label(form.tipoIdentificacion) }}
                              {{ form_widget(form.tipoIdentificacion) }}
                            </div> 
                            <div class="col-md-12 cedInterventor" >
                              {{ form_label(form.idInterventor) }}
                              {{ form_widget(form.idInterventor) }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" >
                              {{ form_label(form.numNitInterventor) }}
                              {{ form_widget(form.numNitInterventor) }}
                            </div> 
                            <div class="col-md-6" >
                              {{ form_label(form.dvInterventor) }}
                              {{ form_widget(form.dvInterventor) }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" >
                              {{ form_label(form.cedulaExtranjeria) }}
                              {{ form_widget(form.cedulaExtranjeria) }}
                            </div> 
                            <div class="col-md-12" >
                              {{ form_label(form.nomINterventor) }}
                              {{ form_widget(form.nomINterventor) }}
                            </div> 
                            <div class="col-md-12" >
                              {{ form_label(form.idSupervisor) }}
                              {{ form_widget(form.idSupervisor) }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <a data-toggle="tab" href="#menu2" style="margin: 15px;" class="next btn btn-info pull-left">{{ 'labels.dataTable.paginate.previous'|trans([], 'AppBundle') }}</a>
                            
                                <a data-toggle="tab" href="#menu4" style="margin: 15px;" class="next btn btn-info pull-right">{{ 'labels.dataTable.paginate.next'|trans([], 'AppBundle') }}</a>
                            </div> 
                        </div>    
                    </div>
                </div> 
            </div> 
            {# <div id="menu4" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Supervisor del convenio o contrato</h4>
                    </div>
                    <div class="panel panel-body" >
                        <div class="form-group">
                            <div class="col-md-12" >
                              {{ form_label(form.idSupervisor) }}
                              {{ form_widget(form.idSupervisor) }}
                            </div> 
                            <div class="col-md-12" >
                              {{ form_label(form.identSupervisor) }}
                              {{ form_widget(form.identSupervisor) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" >
                              {{ form_label(form.nitSupervisor) }}
                              {{ form_widget(form.nitSupervisor) }}
                            </div> 
                            <div class="col-md-6" >
                              {{ form_label(form.dvSupervisor) }}
                              {{ form_widget(form.dvSupervisor) }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" >
                                {{ form_label(form.nombreSupervisor) }}
                                {{ form_widget(form.nombreSupervisor) }}
                            </div>    
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <a data-toggle="tab" href="#menu3" style="margin: 15px;" class="next btn btn-info pull-left">{{ 'labels.dataTable.paginate.previous'|trans([], 'AppBundle') }}</a>
                            
                                <a data-toggle="tab" href="#menu5" style="margin: 15px;" class="next btn btn-info pull-right">{{ 'labels.dataTable.paginate.next'|trans([], 'AppBundle') }}</a>
                            </div> 
                        </div>    
                    </div>
                </div> 
            </div> #}
            <div id="menu5" class="tab-pane fade">
                 <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Detalles del convenio o contrato</h4>
                    </div>
                    <div class="panel panel-body" >
                            <div class="form-group">
                                <div class="col-md-4" >
                                  {{ form_label(form.plazoConvenio) }}
                                  {{ form_widget(form.plazoConvenio) }}
                                </div> 
                                <div class="col-md-4" >
                                  {{ form_label(form.adiciones) }}
                                  {{ form_widget(form.adiciones) }}
                                </div> 
                                <div class="col-md-4" >
                                  {{ form_label(form.vlrTotalAdiciones) }}
                                  {{ form_widget(form.vlrTotalAdiciones) }}
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                {{ form_label(form.numDiasAdiciones) }}
                                {{ form_widget(form.numDiasAdiciones) }}
                            </div> 
                            <div class="col-md-12" >
                                   
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-md-4" >
                              {{ form_label(form.fechaInicioConvenio) }}
                              {{ form_widget(form.fechaInicioConvenio) }}
                            </div> 
                            <div class="col-md-4" >
                              {{ form_label(form.fechaFinConvenio) }}
                              {{ form_widget(form.fechaFinConvenio) }}
                            </div> 
                            <div class="col-md-4" >
                              {{ form_label(form.fechaLiquidacion) }}
                              {{ form_widget(form.fechaLiquidacion) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4" >
                              {{ form_label(form.porcentavanceFisicoprogra) }}
                              {{ form_widget(form.porcentavanceFisicoprogra) }}
                            </div> 
                            <div class="col-md-4" >
                              {{ form_label(form.porcentavanceFisicoreal) }}
                              {{ form_widget(form.porcentavanceFisicoreal) }}
                            </div> 
                            <div class="col-md-4" >
                              {{ form_label(form.porcentavancePresuprogram) }}
                              {{ form_widget(form.porcentavancePresuprogram) }}
                            </div>
                        </div>
                        <div class="form-group">    
                            <div class="col-md-4" >
                              {{ form_label(form.porcentavancePresupreal) }}
                              {{ form_widget(form.porcentavancePresupreal) }}
                            </div> 
                        </div>    
                        <div class="form-group">
                            <div class="col-md-12" >
                              {{ form_label(form.Observaciones) }}
                              {{ form_widget(form.Observaciones) }}                        
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <a data-toggle="tab" href="#menu4" style="margin: 15px;" class="next btn btn-info pull-left">{{ 'labels.dataTable.paginate.previous'|trans([], 'AppBundle') }}</a>
                            
                                <a data-toggle="tab" href="#menu6" style="margin: 15px;" class="next btn btn-info pull-right">{{ 'labels.dataTable.paginate.next'|trans([], 'AppBundle') }}</a>
                            </div> 
                        </div>    
                    </div>
                 </div>            
            </div> 
            <div id="menu6" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Notificaciones programadas</h4>
                    </div>
                    <div class="panel panel-body" >
                        <div class="form-group">
                            <div class="col-md-12" style="margin: 15px;">
                                <a data-toggle="tab" href="#menu5" class="next btn btn-info pull-left">{{ 'labels.dataTable.paginate.previous'|trans([], 'AppBundle') }}</a>
                                {{ form_widget(form.save) }}
                            </div> 
                        </div>
                    </div>
                </div>            
            </div>
          
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.next').click(function(){
                var tag = $(this).attr('href');
                var vltag = tag.substr(1);
                $('.active').removeClass('active');
                $('.'+vltag).addClass('active');
            });
        });
    </script>
{% endblock %}    