{% extends "base1.html.twig" %}

{% block content %}
    <div class="container">
        
        <h2><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Crear Parametro</h2>
        {{ form_start(form) }}
          <div class="form-group">
            {{ form_label(form.conInformacion) }}
            {{ form_widget(form.conInformacion) }}
          </div>
          
          <div class="form-group">
            {{ form_label(form.justificacion) }}
            {{ form_widget(form.justificacion) }}
          </div>
          <div class="form-group">
              <div class="col-md-6" >
                {{ form_label(form.claseContrato) }}
                {{ form_widget(form.claseContrato) }}
              </div> 
              <div class="col-md-6" >
                {{ form_label(form.numConvenio) }}
                {{ form_widget(form.numConvenio) }}
              </div> 
          </div>
          <div class="form-group">
              <div class="col-md-6" >
                {{ form_label(form.fechaSuscripcion) }}
                {{ form_widget(form.fechaSuscripcion) }}
              </div> 
              <div class="col-md-6" >
                {{ form_label(form.vecesRegistrado) }}
                {{ form_widget(form.vecesRegistrado) }}
              </div> 
          </div>
          <div class="form-group">
            {{ form_label(form.objetoContrato) }}
            {{ form_widget(form.objetoContrato) }}
          </div>
          <div class="form-group">
            {{ form_label(form.vlrContrato) }}
            {{ form_widget(form.vlrContrato) }}
          </div>
          <div class="form-group">
              <div class="col-md-6" >
                {{ form_label(form.idEntidad) }}
                {{ form_widget(form.idEntidad) }}
              </div> 
              <div class="col-md-6" >
                {{ form_label(form.dvEntidad) }}
                {{ form_widget(form.dvEntidad) }}
              </div> 
          </div>
          <div class="form-group">
            {{ form_label(form.nombreEntidad) }}
            {{ form_widget(form.nombreEntidad) }}
          </div>
          <div class="form-group">
              <div class="col-md-6" >
                {{ form_label(form.plazo) }}
                {{ form_widget(form.plazo) }}
              </div> 
              <div class="col-md-6" >
                {{ form_label(form.tipoGarantia) }}
                {{ form_widget(form.tipoGarantia) }}
              </div> 
          </div>
          <div class="form-group">
            {{ form_widget(form.save) }}
          </div>
          
        {{ form_end(form) }}
    </div>
{% endblock content %}